<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="32768" maxUrl="65536" maxAllowedContentLength="655360000" />
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="API Proxy Rule" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <action type="Rewrite" url="http://localhost:3005/{R:1}" />
                </rule>
                <rule name="Image Proxy Rule" stopProcessing="true">
                    <match url="^image/(.*)" />
                    <action type="Rewrite" url="http://localhost:3100/{R:1}" />
                </rule>
                <rule name="ReactJS Redirect" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".brotli" mimeType="application/brotli" />
        </staticContent>
    </system.webServer>
    <system.web>
        <httpRuntime maxRequestLength="2097151" maxUrlLength="65536" maxQueryStringLength="2097151" />
    </system.web>
</configuration>